.idea
target/
.DS_Store
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
web-app/selenium/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea
.idea/workspace.xml
.idea/**/*
*.ser
*.sha1
grails-sghe*.zip
out/
*.sha1
plugin.xml
grails-sghe-aurora*.zip
stacktrace.log
**-rtl.css
plugin.xml
build/
.gradle/**/*
*.log
*.iws
*.ipr
*.iml
.idea
gradle/wrapper/*

