/* override web_defaulthome.css */
BODY {
	background-image: none;
}
	/* override web_defaultapp.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.98em;
}

input {
	vertical-align: top;
}
