/*********************************************************************************
 Copyright 2009-2015 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#menuContainer{
    height:90%;
    display:none;
    top:5.859375%;
    width:31.25%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 7px #000000;
    float:left;
    position:fixed;
    opacity: .99;
    z-index: 999;
}

#menu   {
    height:100%;
    width:100%;
    overflow-y:auto;
}


.menu-wrapper.hide,#menuContainer.hide {
    display:none;
}

.menu-wrapper.show, #menuContainer.show{
    display:block;
}

.menu-wrapper {
    background-color: #ffffff;
}


#menuContainer:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 14px;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    top: -12px;
    left: 17px;
}

#menu ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    height:100%;
    margin-top:0px;
    margin:0px;
    padding:0px;
    overflow-y:auto;

}

#menu ul>li {
    border-bottom: 1px solid #D0DBDE;
    height: 4.8828125%;
    margin:0px;
    padding:0px;
    width:100%;
}

.menu-item  {
    background-color: #FFFFFF;
    margin-left: 1%;
    margin-right: 1%;
    height:auto;
    top: 30%;
    position: relative;
}

#menu .menu-text    {
    float:left;
}

#menu .menu-text, #menu .menu-subheader-text{
    letter-spacing: 2px;
    font-size: 1em;
    color: #41566F;
    font-family:"Open Sans";
}

#menu .menu-text{
    word-wrap: break-word;
}

#menu .menu-subheader-text  {
    margin-left:2%;
    float:left;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#menu ul li:hover{
    background-color: #F3FCFF;
    cursor:pointer;
}

#menu .menu-icon    {
    background:url(images/arrow-right.svg) no-repeat center center;
    background-size:0.625em 1.125em;
    float:right;
    height:1.125em;
    width:0.625em;
}


#menu .menu-back-icon    {
    background:url(images/arrow-left.svg) no-repeat center center;
    background-size:0.625em 1.125em;
    float:left;
    height:1.125em;
    width:0.625em;
}

.menu-wrapper a:link,.menu-wrapper a:visited,.menu-wrapper a:hover,.menu-wrapper a:active {
    margin:0px;
    padding:0px;
    text-decoration: none;
    color: #41566F;
}

/** Mobile **/
@media only screen
and (min-width:0px)
and (max-width:767px)
and (orientation : landscape)   {
    #menuContainer   {
        height:90%;
        width:80%;
        top:7.6436%;
        box-shadow: 0 1px 7px #000000;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 7.74647887%;
    }

    #menu .menu-icon    {
        background:url(images/arrow-right.svg) no-repeat center center;
        background-size:1em 1.75em;
        float:right;
        height:1.75em;
        width:1em;
    }

    #menu .menu-back-icon    {
        background:url(images/arrow-left.svg) no-repeat center center;
        float:left;
        background-size: 1em 1.75em;
        margin-right: 1%;
        height:1.75em;
        width:1em;
    }
    .menu-item{
        margin-right:1.953125%;
        margin-left:1.953125%;
    }


}

@media only screen
and (min-width:0px)
and (max-width:767px)
and (orientation : portrait)   {

    #menuContainer   {
        height: 90%;
        width: 100%;
        top:7.6436%;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 7.74647887%;
    }

    #menu .menu-icon    {
        background:url(images/arrow-right.svg) no-repeat center center;
        float:right;
        background-size:1em 1.75em;
        height:1.75em;
        width:1em;
    }

    #menu .menu-back-icon    {
        background:url(images/arrow-left.svg) no-repeat center center;
        background-size:1em 1.75em;
        float:left;
        height:1.75em;
        width:1em;
    }
    .menu-item{
        margin-right:1.953125%;
        margin-left:1.953125%;
        margin-top:0px;
    }
}

/*** Tablet ***/
@media only screen
and (min-width:768px)
and (max-width:1023px)
and (orientation : landscape)   {
    #menuContainer   {
        height: 92%;
        width: 50.25%;
        top: 6.859375%;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 6.510416666667%;
    }

    .menu-item{
        margin-right:1.953125%;
        margin-left:1.953125%;
    }
}

@media only screen
and (min-width:768px)
and (max-width:1023px)
and (orientation : portrait)   {
    #menuContainer   {
        height: 92%;
        width: 50.25%;
        top: 6.859375%;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 6.510416666667%;
    }

    .menu-item{
        margin-right:1.953125%;
        margin-left:1.953125%;
        height:auto;
    }
}

/*Desktop*/

@media only screen
and (min-width:1024px)
and (orientation : portrait)   {
    .menu-item{
        margin-right:1%;
        margin-left:1%;
    }
}

@media only screen
and (min-width:1024px)
and (orientation : landscape)   {
    .menu-item{
        margin-right:1%;
        margin-left:1%;
    }
}