/*******************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

#header {
    background-color:#206E9F;
    height:auto;
    width:100%;
}

#header-main-section {
    height:60px;
    display: inline-table;
    width: 100%;
}

#header-main-section-west-part {
    display: table-cell;
    vertical-align: middle;
}

#header-main-section-west-part  div{
    float:left;
}
#header-main-section-east-part{
    float: right;
    background-color: #1B6496;
    line-height: 62px;
    border-left: 1px #1B64C1 solid;
    height: 60px;
}

#header-main-section-east-part #signInDiv, #header-main-section-east-part #signInButton  {
    padding-left: 22px;
    padding-right: 21px;
    border-right: 1px #1B64C1 solid;
    float:left;
}

#header-main-section-east-part #userDiv {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px #1B64C1 solid;
    float:left;
}

#header-main-section-east-part #userDiv #username{
    color: #ffffff;
    font: 12px Open Sans;
    padding-left: 7px;
}
#header-main-section-east-part #toolsButton {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px #1B64C1 solid;
    float:left;
}

#header-main-section-east-part #notification-center {
    border-left: 1px #1B64C1 solid;
    float:left;
}

#signInText {
    color: #ffffff;
    font: 10pt Open Sans;
    text-decoration: blink;
}
#bannerMenu {
    background: url("images/menu.png") no-repeat;
    height: 14px;
    width: 14px;
    left: 14px;
    float: left;
    margin-left: 18px;
    transform: translateY(47%);
}

.institutionalBranding {
    background: url("images/logo.svg") no-repeat;
    height: 19px;
    width: 78px;
    float: left;
    margin-left: 13px;
}

#tools {
    background: url("images/settings.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 20px;
    transform: translateY(47%);
}

#user {
    background: url("images/avatar.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 26px;
    width: 26px;
    transform: translateY(38%);}

.notification-center {
    color: #FFD079;
    direction: ltr;
}

.notification-center-count {
    text-align: center;
    width: 32px;
    font-size: 14px;
    background-color: #FFD079;
}
/*Mobile device*/

@media only screen
and (min-device-width: 0px)
and (max-device-width: 320px) {
    #header-main-section {
        height:42px;
    }
    #header-main-section-east-part{
        line-height: 44px;
        height: 42px;
        border: none;
        background-color: #206e9f;
    }

    #header-main-section-east-part #signInDiv, #header-main-section-east-part #signInButton {
        padding-left: 13px;
        padding-right: 13px;
    }

    #header-main-section-east-part #userDiv {
        padding-left: 20px;
        padding-right: 10px;
        border: none;
    }

    #header-main-section-east-part #userDiv #username{
        display: none;
    }
    #header-main-section-east-part #toolsDiv {
        display: none;
        border: none;
    }

    #header-main-section-east-part #notification-center {
        border: none;
    }

    #bannerMenu {
        height: 12px;
        width: 12px;
    }
    .institutionalBranding {
        margin-left: 6px;
    }
}

/*Tablet device*/

@media only screen
and (min-device-width: 769px)
and (max-device-width: 1023px) {
    #header-main-section {
        height:50px;
    }

    #header-main-section-east-part{
        line-height: 52px;
        height: 50px;
    }

    #header-main-section-east-part #userDiv #username{
        font: 10px Open Sans;
    }
}

