/** *****************************************************************************
 Copyright 2015-2018 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */

#header-main-section #toolsCanvas {
    position: absolute;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    right: 0;
    left: auto;
    height: auto;
    width: auto;
    overflow-y: auto;
    white-space: nowrap;
}
#header-main-section #toolsCanvas div {
    height: auto;
}
#header-main-section #toolsCanvas div span {
    padding-left: 0.5em;
    letter-spacing: 2px;
    font-family: "Open Sans";
    font-size: 1em;
    display: block;
    padding-bottom: 0.5em;
}
#toolsCanvas .canvas-item {
    padding-right: 5em;
    padding-top: .5em;
    padding-bottom: .5em;
}
#toolsCanvas .canvas-section {
    padding-bottom: .5em;
}
#toolsCanvas.tools-active {
    display: block;
}
#toolsList .canvas-section {
    font-weight: bold;
    font: 1em Open sans;
    color: #151618;
    background-color: #F7F7F7;/*EDS*/
    border-bottom: 1px solid #EEEEEF;/*EDS*/
    padding: 0;
    margin: 0;
    width: inherit;
    padding-top: .5em;

}
#toolsList .canvas-item {
    font: .875em Open sans;
    color: #151618;/*EDS*/
    border-bottom: 1px solid #EEEEEF; /*EDS*/
    padding-left: 2em;
    background-color: #FFFFFF; /*EDS*/
}

#toolsList .canvas-item:hover {
    background-color: #F7F7F7; /*EDS*/
}

#toolsList .canvas-item:focus {
    background-color: #026BC8; /*EDS*/
    color:#FFFFFF;/*EDS*/
    outline: none;
    border:none;
}
#toolsCanvas {
    display: none;
    border: 1px solid #026BC8; /*EDS*/
    border-top: none;
}
#toolsButton.tools-expanded:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    width: 0px;
    border-bottom: 9px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
#toolsList #mepDescForMobile {
    display: none;
    background-color: #F7F7F7; /*EDS*/
}
@media (min-width: 0px) and (max-width: 767px) {
    #toolsList #mepDescForMobile {
        display: block;
    }
}
@media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    #header-main-section #toolsCanvas {
        width: 100%;
        position: fixed;
    }
    #toolsList #mepDescForMobile {
        width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {} @media (min-width: 768px) and (max-width: 1024px) {}