/** *****************************************************************************
 Copyright 2016 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */
#toolsCanvas {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
}
#toolsCanvas {
    display:none;
}
#toolsCanvas.tools-active {
    display: block;
}
#toolsCanvas.tools-active ul {
    list-style:none;
    white-space:nowrap;
    display: block;
}

#toolsCanvas.tools-active li {
    display:block;
    vertical-align: top;
}

.toolsMenuShadow {
    border:1px solid #DEE5E7;
}


#toolsList .menu-section {
    font-weight: bold;
    font: 1em Open sans;
    color: #41566F;
}
#toolsList .menu-item {
    font: 0.875em Open sans;
    height: 4.8828125%;
    padding-left: 1%;
    color: #41566F;
    border-bottom: 1px solid #DEDEDE;
}
#toolsList .menu-item:hover {
    background-color: #F3FCFF;
}

        right: 0em;

@media (min-width:0px) and (max-width:768px) {
    #toolsList .menu-item {
        font: 0.875em Open sans;
        height: 5.6338028169014086%;
        padding-left: 1%;
        color: #41566F;
        border-bottom: 0.091em solid #DEDEDE;
        width: 82.5%;
    }
    #toolsCanvas {
        right: 0px;
    }
}

@media (min-width:0px) and (max-width:768px) and (orientation : portrait)	{
        right: 0em;
        left: 0em;
        margin-top: 1em;
}


@media (min-width:769px) and (max-width:1023px)	{
    #toolsList .menu-item {
        right: 0em;
        font: 1.25em Open sans;
        height: 8.333333333333333%;
        padding-left: 1.1428571428571429%;
        color: #41566F;
        border-bottom: 1px solid #DEDEDE;
    }
    #toolsCanvas {
        right: 120px;
    }
}
