/** *****************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */
#header-main-section #userCanvas {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    right:0;
    height: auto;
    width: auto;
    white-space: nowrap;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px #000000;
}

#header-main-section #userCanvas div{
    height : auto;
}

#userCanvas {
    display:none;
}

#userCanvas .canvas-section, #userCanvas .canvas-item {
    border-bottom: 1px solid #D0DBDE;
    padding-right: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#userCanvas.user-active {
    display:block;
}

#userList .canvas-section {
    font-weight: bold;
    font: 1em Open sans;
    color: #41566F;
    background-color: #F9FAFB;
    padding-left: 0.5em;
}

#userList .canvas-item {
    font: 0.875em Open sans;
    color: #41566F;
    border-bottom: 1px solid #D0DBDE;
    padding-left: 1.5em;
}

#userList .canvas-item:hover, #userList .canvas-item:focus {
    background-color: #F3FCFF;
}

#header-main-section-east-part #userDiv #user.user-expanded:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    width: 0px;
    border-bottom: 9px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#userList #usernameForMobile {
    display: none;
    background-color: #CCCCCC;
}

@media (min-width:0px) and (max-width:767px) {
    #userList #usernameForMobile {
        display: inline-block;
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation : portrait)	{}

@media (min-width:768px) and (max-width:1023px)	{ }

