/*******************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

#breadcrumb-panel{
    clear: both;
    height: 10%;
}

a.breadcrumbButton:link, a.breadcrumbButton:active, a.breadcrumbButton:visited , .breadcrumbButton {
    padding-right: 15px;
    color: #557287;
    font-size: 14pt;
}

a.breadcrumbButton{
    text-decoration: underline;
}

#title-panel{
    height: 10%;
    font-size: 20pt;
}

#breadcrumb-panel, #title-panel{
    background-color: #F9FAFB;
    border-bottom: 2px solid #DEE5E7;
    font-family: "Open Sans";
    padding-left: 18px;
    color: #557287;
}

#breadcrumbBackButton, #breadcrumbPageTitle{
    display: none;
}


#breadcrumbPageTitle, #title-panel{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*Mobile device*/

@media only screen
and (min-width: 0px)
and (max-width: 768px) {

    #breadcrumb-panel{
        height: 10%;
        padding-left:12px;
    }

    #breadcrumbBackButton{
        background:url("images/icon-arrow-back.svg") no-repeat center;
        position:relative;
        height: 100%;
        width: 14px;
        float:left;
        margin-right: 10px;
    }

    #breadcrumbHeader, #breadcrumbPageTitle {
        font-size: 15px;
    }

    .breadcrumbButton, #title-panel{
        display:none;
    }

    #breadcrumbBackButton, #breadcrumbPageTitle{
        display: block;
    }

    .breadcrumb-show-leaf .breadcrumbButton:last-child{
        display: block;
    }

}


