/*********************************************************************************
 Copyright 2009-2015 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/

#menuContainer {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    display:none;
}

#menu   {
    height:60%;
    width:31.25%;
    float:left;
    position:fixed;
    background-color: #FFFFFF;
    box-shadow: 0 1px 7px #000000;
    overflow:scroll;

}

.menu-wrapper.hide,#menuContainer.hide {
    display:none;
}

.menu-wrapper.show, #menuContainer.show{
    display:block;
}

.menu-wrapper
{
    background-color: #ffffff;
    opacity: .99;
    z-index: 999;
}

.menu-wrapper:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 18px;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    top: -15px;
    left: 20px;
}

#menu ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    height:100%;
}

#menu ul>li {
    border-bottom: 1px solid #D0DBDE;
    height: 4.8828125%;
}

.menu-item  {
 /*   border:1px solid orange;*/
    background-color: #FFFFFF;
    width:95%;
    padding-left: 1%;
    padding-right: 1%;
}

#menu .menu-text    {
    float:left;
}

#menu .menu-subheader-text   {
    float:left;
    padding-right: 1%;
}

#menu .menu-text, #menu .menu-subheader-text{
    letter-spacing: 2px;
    font-size: 1em;
    color: #41566F;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px solid red;*/
    transform:translateY(40%);
}


#menu ul li:hover{
    background-color: #F3FCFF;
    cursor:pointer;
}

#menu .menu-icon    {
    background:url(images/arrow-right.svg) no-repeat;
    float:right;
    height:1.125em;
    width:0.625em;
   /* border: 1px solid red;*/
    transform:translateY(40%);
}


#menu .menu-back-icon    {
    transform:translateY(40%);
    background:url(images/arrow-left.svg) no-repeat;
    float:left;
    height:1.125em;
    width:0.625em;
  /*  border:solid 1px red;*/
    padding-right: 1%;
}

#menu .menu-submenu-header    {
    padding-left:30px;
    font-size: 20px;
    color: #1154A4;
    float:left;
    font-size:12pt;
}

.menu-wrapper a:link{
    text-decoration: none;
}


/** Mobile **/
@media only screen
and (min-width:0px)
and (max-width:767px)
and (orientation : landscape)   {
    #menuContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display:none;
    }

    #menu   {
        height:90%;
        width:80%;
        float:left;
        position:fixed;
        background-color: #FFFFFF;
        box-shadow: 0 1px 7px #000000;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 12.746479%;
    }

    #menu .menu-text,#menu .menu-subheader-text    {
        font-size: 2em;
    }

    #menu .menu-icon    {
        background:url(images/arrow-right.svg) no-repeat;
        float:right;
        height:1.75em;
        width:1em;
        /* border: 1px solid red;*/
        transform:translateY(70%);
    }

    #menu .menu-back-icon    {
        transform:translateY(70%);
        background:url(images/arrow-left.svg) no-repeat;
        float:left;
        height:1.75em;
        width:1em;
        /*  border:solid 1px red;*/
        padding-right: 1%;
    }
    .menu-item{
        padding-right:1.953125%;
        padding-left:1.953125%;
    }

    #menu .menu-text, #menu .menu-subheader-text{
        transform:translateY(20%);
    }
}

@media only screen
and (min-width:0px)
and (max-width:767px)
and (orientation : portrait)   {
    #menuContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display:none;
    }

    #menu   {
        height: 95%;
        width: 98%;
        float:left;
        top: 50px;
        position:fixed;
        background-color: #FFFFFF;
        box-shadow: 0 1px 7px #000000;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 7.74647887%;
    }

    #menu .menu-text,#menu .menu-subheader-text    {
        font-size: 2em;
    }

    #menu .menu-icon    {
        background:url(images/arrow-right.svg) no-repeat;
        float:right;
        height:1.75em;
        width:1em;
        /* border: 1px solid red;*/
        transform:translateY(70%);
    }

    #menu .menu-back-icon    {
        transform:translateY(70%);
        background:url(images/arrow-left.svg) no-repeat;
        float:left;
        height:1.75em;
        width:1em;
        /*  border:solid 1px red;*/
        padding-right: 1%;
    }
    .menu-item{
        padding-right:1.953125%;
        padding-left:1.953125%;
    }

    #menu .menu-text, #menu .menu-subheader-text{
        transform:translateY(20%);
    }
}

/*** Tablet ***/


@media only screen
and (min-width:769px)
and (max-width:1024px)
and (orientation : landscape)   {
    #menuContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display:none;
    }

    #menu   {
        height: 60%;
        width: 31.25%;
        float:left;
        top: 35px;
        position:fixed;
        background-color: #FFFFFF;
        box-shadow: 0 1px 7px #000000;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 6.510416666667%;
    }

    #menu .menu-icon    {
        background:url(images/arrow-right.svg) no-repeat;
        float:right;
        height:1.125em;
        width:0.625em;
        /* border: 1px solid red;*/
        transform:translateY(70%);
    }

    #menu .menu-back-icon    {
        transform:translateY(70%);
        background:url(images/arrow-left.svg) no-repeat;
        float:left;
        height:1.125em;
        width:0.625em;
        /*  border:solid 1px red;*/
        padding-right: 1%;
    }
    .menu-item{
        padding-right:1.953125%;
        padding-left:1.953125%;
    }

    #menu .menu-text, #menu .menu-subheader-text{
        transform:translateY(65%);
    }
}

@media only screen
and (min-width:769px)
and (max-width:1024px)
and (orientation : portrait)   {

    #menuContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display:none;
    }

    #menu   {
        height: 60%;
        width: 31.25%;
        float:left;
        top: 50px;
        position:fixed;
        background-color: #FFFFFF;
        box-shadow: 0 1px 7px #000000;
    }

    #menu ul>li {
        border-bottom: 1px solid #D0DBDE;
        height: 6.510416666667%;
    }

    #menu .menu-icon    {
        background:url(images/arrow-right.svg) no-repeat;
        float:right;
        height:1.125em;
        width:0.625em;
        /* border: 1px solid red;*/
        transform:translateY(70%);
    }

    #menu .menu-back-icon    {
        transform:translateY(70%);
        background:url(images/arrow-left.svg) no-repeat;
        float:left;
        height:1.125em;
        width:0.625em;
        /*  border:solid 1px red;*/
        padding-right: 1%;
    }
    .menu-item{
        padding-right:1.953125%;
        padding-left:1.953125%;
    }

    #menu .menu-text, #menu .menu-subheader-text{
        transform:translateY(65%);
    }
}

/*** Desktop **/
/*@media only screen
and (min-width:1024px)
and (orientation : landscape)   {
    #menuContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display:none;
    }

    #menu   {
        height:60%;
        width:31.25%;
        float:left;
        position:fixed;
        background-color: #FFFFFF;
        box-shadow: 0 1px 7px #000000;
    }
}

@media only screen
and (min-width:1024px)
and (orientation : portrait)   {
    #menuContainer {
        height: 90%;
        width: 100%;
        overflow-y: auto;
        display:none;
    }

    #menu   {
        height:60%;
        width:31.25%;
        float:left;
        position:fixed;
        background-color: #FFFFFF;
        box-shadow: 0 1px 7px #000000;
    }
}
*/
