/*******************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

.vertical-align {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#header-main-section {
    width: 100%;
    background-color: #206E9F;
    height: 5.859375%;
}

#header-main-section-west-part {
    width: 61.875%;
    height: 100%;
    float:left;
}

#header-main-section-west-part  div{
    float:left;
}
#header-main-section-east-part{
    float: right;
    background-color: #1B6496;
    height:100%;
}

div#header-east-part-user-controls {
    display: inline-block;
}

#header-main-section-east-part #signInButton  {
    float:left;
}

#header-main-section-east-part #userDiv {
    float:left;
}

#header-main-section-east-part #userDiv #username{
    color: #ffffff;
    font: 12px Open Sans;
    padding-left: 7px;
}
#header-main-section-east-part #signInButton {
    margin: 0px;
    padding: 0px;
}
#header-main-section-east-part #toolsButton, #header-main-section-east-part #signInButton li {
    float:left;
}

#header-main-section-east-part #notification-center {
    float:left;
}

#signList .menu-item {
    color: #ffffff;
    font: 10pt Open Sans;
    text-decoration: blink;
}
#bannerMenu {
    background: url("images/menu.svg") no-repeat;
    height: 1.5em;
    width: 1.5em;
    float: left;
    margin-left: 1.5625em;
    /*transform: translateY(39%);*/
}

.institutionalBranding {
    background: url("images/logo.svg") no-repeat;
    height: 1.875em;
    width: 4.875em;
    float: left;
    margin-left: 1em;
}

#tools {
    background: url("images/settings.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 1.375em;
    width: 1.375em;
}

#user {
    background: url("images/avatar.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 1.375em;
    width: 1.5em;
    /*transform: translateY(38%);*/
}

.notification-center {
    color: #FFD079;
    direction: ltr;
}

.notification-center-count {
    text-align: center;
    font-size: 1.5em;
    background-color: #FFD079;
    font-family: Open Sans-Semibold;
    color: #4F585F;
    height: 100%;
}

#notification-center-div {
    height: 100%;
}

#signInButton {
    margin-left:0px;
}

#signInCanvas ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.signIn-mobile {
    background: url("images/lock.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 1.375em;
    width: 1em;
    display: none;
}

#signInButton li {
    display:inline-block;
    vertical-align: top;
}
#signInButton ul {
    list-style:none;
    white-space:nowrap;
}
/*Mobile device*/

@media only screen
and (min-device-width: 0px)
and (max-device-width: 768px) {
    #header-main-section {
        height: 7.39436%;
        display: inline-block;
    }

    #header-main-section-west-part{
        width:61.875%;
    }

    #header-main-section-east-part{
        border: none;
        float: right;
        height: 100%;
    }

    #header-main-section-east-part #signInDiv, #header-main-section-east-part #signInButton {
        /*transform: translateY(17%);*/
    }

    #header-main-section-east-part #toolsButton {
        /*transform: translateY(20%);*/
    }

    #header-main-section-east-part #userDiv {
        border: none;
    }

    #header-main-section-east-part #userDiv #username{
        display: none;
    }
    #header-main-section-east-part #toolsDiv {
        display: none;
        border: none;
    }

    #header-main-section-east-part #notification-center {
        border: none;
        height: 100%;
        float: right;
    }

    #bannerMenu {
        height: 1.5em;
        width: 1.5em;
    }
    .institutionalBranding {
        margin-left: 1.5625em;
        height: 2.125em;
        width: 9.125em;
        /*transform: translateY(20%);*/
    }
    .signIn-mobile {
        display:block;
        height: 2.5em;
        width: 1.875em;
        margin-left: 1em;
        margin-right: 1em;
    }

    #user {
        background: url("images/avatar.svg") no-repeat;
        display: inline-block;
        position: relative;
        height: 3.125em;
        width: 3.125em;
        /*transform: translateY(12%)*/
        margin-left: 1em;
        margin-right: 1em;
    }

    #signInCanvas {
        display:none;

    }
    #signInCanvas.signIn-active {
        display: block;
        right: 0;
        top: 44px;
        width: 100%;
        left: auto;
        position: absolute;
        z-index: 1000;
        padding: 0px;
        margin: 0px;
    }
    #signInCanvas.signIn-active ul {
        list-style:none;
        white-space:nowrap;
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    #signInCanvas.signIn-active li {
        display:block;
        vertical-align: top;
    }

    #signInCanvas.signIn-active ul,#signInCanvas.signIn-active ul li {
        margin : 1px !important;
        width: 100%;
    }

    #signInMenu {
        background: none repeat scroll 0 0 #ffffff;
    }
    .signInMenuShadow {
        border: 5px #13689E solid;
    }
    #signInCanvas.signIn-active .menu-item {
        cursor: pointer;
        font: 14pt Open Sans;
        padding-right: 13px;
        padding-left: 30px;
        line-height: 30px;
        color: #41566f;
        border-bottom: 1px solid #DEE5E7;
    }
    .signInText {
        color: #41566f;
    }
    #tools {
        height: 2.5em;
        width: 2.5em;
        margin-left: 1em;
    }

    .notification-center {
    }

    .notification-center-count {
        text-align: center;
        font-size: 1.5em;
        background-color: #FFD079;
        font-family: Open Sans-Semibold;
        color: #4F585F;
        height: 100%;
        width: 2em;
    }

    #notification-center-div {
        height: 100%;
    }

    .notification-center-count span {
        line-height: 326%;
    }

    a.notification-center-anchor.notification-center-anchor-hidden {
        text-decoration: none;
    }

    .notification-center-anchor.notification-center-anchor-hidden:hover {
        background: #0071A7;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        text-decoration: none;
    }

    div#header-east-part-user-controls {
        display: inline-block;
    }
}

@media (min-width:0px) and (max-width:768px) and (orientation : portrait)	{

    #header-main-section-east-part #toolsButton {
        transform: inherit;
        height: 100%;
    }

    #tools {
        /*transform: translateY(22%);*/
    }
}

/*Tablet device*/

@media only screen
and (min-device-width: 769px)
and (max-device-width: 1023px) {
    #bannerMenu {
        height: 1.875em;
        width: 1.875em;
        /*transform: translateY(45%);*/
    }
    .institutionalBranding {
        margin-left: 0.9765625em;
        height: 2.125em;
        width: 8.125em;
        /*transform: translateY(20%);*/
    }

    #header-main-section {
        height: 6.510416666666667%;
        display: inline-block;
    }

    div#header-east-part-user-controls {
        display: inline-block;
        height: 100%;
        float: left;
    }

    #header-main-section-east-part #userDiv #username{
        font: 10px Open Sans;
    }

    #header-main-section-west-part{
        width:71.2890625%;
    }

    #header-main-section-east-part{
        border: none;
        float: right;
        height: 100%;
    }

    #header-main-section-east-part #signInDiv, #header-main-section-east-part #signInButton {
        /*transform: translateY(27%);*/
        width: 4.8828125em;
        border-left: 1px #1D5F8C solid;
        background-color: #1B6496;
    }

    #header-main-section-east-part #toolsButton {
        border-left: 1px #1D5F8C solid;
        width: 4.8828125em;
        height: 100%;
        /*transform: translateY(0%);*/
    }

    #header-main-section-east-part #userDiv {
        border: none;
        border-left: 1px #1D5F8C solid;
        background-color: #1B6496;
        width: 4.8828125em;
    }

    #header-main-section-east-part #userDiv #username{
        display: none;
    }
    #header-main-section-east-part #toolsDiv {
        display: none;
        border: none;
    }

    #header-main-section-east-part #notification-center {
        border: none;
        height: 100%;
    }

    #bannerMenu {
        height: 1.5em;
        width: 1.5em;
        /*transform: translateY(42%);*/
    }
    .institutionalBranding {
        margin-left: 1.5625em;
        height: 2.125em;
        width: 8.125em;
        /*transform: translateY(15%);*/
    }
    .signIn-mobile {
        display:block;
        height: 1.5em;
        width: 1.875em;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    #signInCanvas {
        display:none;

    }
    #signInCanvas.signIn-active {
        display: block;
        right: 0;
        top: 44px;
        width: 100%;
        left: auto;
        position: absolute;
        z-index: 1000;
        padding: 0px;
        margin: 0px;
    }
    #signInCanvas.signIn-active ul {
        list-style:none;
        white-space:nowrap;
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    #signInCanvas.signIn-active li {
        display:block;
        vertical-align: top;
    }

    #signInCanvas.signIn-active ul,#signInCanvas.signIn-active ul li {
        margin : 1px !important;
        width: 100%;
    }

    #signInMenu {
        background: none repeat scroll 0 0 #ffffff;
    }
    .signInMenuShadow {
        border: 5px #13689E solid;
    }
    #signInCanvas.signIn-active .sign-item {
        cursor: pointer;
        font: 14pt Open Sans;
        padding-right: 13px;
        padding-left: 30px;
        line-height: 30px;
        color: #41566f;
        border-bottom: 1px solid #DEE5E7;
    }
    .signInText {
        color: #41566f;
    }
    #tools {
        height: 2.5em;
        width: 2.5em;
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        /*transform: translateY(23%);*/
    }

    #user {
        background: url("images/avatar.svg") no-repeat;
        display: block;
        position: relative;
        height: 3.25em;
        width: 2.663em;
        /*transform: translateY(15%);*/
        margin-left: auto;
        margin-right: auto;
    }

    .notification-center {
    }

    .notification-center-count {
        text-align: center;
        font-size: 1.5em;
        background-color: #FFD079;
        font-family: Open Sans-Semibold;
        color: #4F585F;
        height: 100%;
        width: 2em;
    }

    #notification-center-div {
        height: 100%;
    }

    .notification-center-count span {
        line-height: 263%;
    }

    .notification-center-anchor.notification-center-anchor-hidden:hover {
        background: #0071A7;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        text-decoration: none;
    }
    a.notification-center-anchor.notification-center-anchor-hidden {
        text-decoration: none;
    }

}