/*******************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

#header-main-section {
    width: 100%;
    background-color: #206E9F;
}

#header-main-section-west-part {
    width: 61.875%;
    height: 100%;
    float:left;
}

#header-main-section-west-part  div{
    float:left;
}
#header-main-section-east-part{
    float: right;
    background-color: #1B6496;
    height:100%;
    width: 20%;

}

#header-main-section-east-part #signInButton  {
    padding-left: 22px;
    padding-right: 21px;
    float:left;
}

#header-main-section-east-part #userDiv {
    float:left;
}

#header-main-section-east-part #userDiv #username{
    color: #ffffff;
    font: 12px Open Sans;
    padding-left: 7px;
}
#header-main-section-east-part #signInButton {
    margin: 0px;
    padding: 0px;
}
#header-main-section-east-part #toolsButton, #header-main-section-east-part #signInButton li {
    float:left;
}

#header-main-section-east-part #notification-center {
    float:left;
}

.signInText {
    color: #ffffff;
    font: 10pt Open Sans;
    text-decoration: blink;
}
#bannerMenu {
    background: url("images/menu.svg") no-repeat;
    height: 1.5em;
    width: 1.5em;
    float: left;
    margin-left: 1.5625em;
    transform: translateY(47%);
}

.institutionalBranding {
    background: url("images/logo.svg") no-repeat;
    height: 19px;
    width: 78px;
    float: left;
    margin-left: 13px;
}

#tools {
    background: url("images/settings.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 20px;
}

#user {
    background: url("images/avatar.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 26px;
    width: 26px;
    transform: translateY(38%);}

.notification-center {
    color: #FFD079;
    direction: ltr;
}

.notification-center-count {
    text-align: center;
    width: 9.375%;
    font-size: 1.5em;
    background-color: #FFD079;
    font-family: Open Sans-Semibold;
    color: #4F585F;
}

#signInButton {
    margin-left:0px;
}

#signInCanvas ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.signIn-mobile {
    background: url("images/lock.svg") no-repeat;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 20px;
    display: none;
}

#signInButton li {
    display:inline-block;
    vertical-align: top;
}
#signInButton ul {
    list-style:none;
    white-space:nowrap;
}
/*Mobile device*/

@media only screen
and (min-device-width: 0px)
and (max-device-width: 640px) {
    #header-main-section {
        height: 7.39436%;
        display: inline-block;
    }

    #header-main-section-west-part{
        width:61.875%;
    }

    #header-main-section-east-part{
        border: none;
        float:right;
        height:100%;

    }

    #header-main-section-east-part #signInDiv, #header-main-section-east-part #signInButton {
        margin-left: 1.5625%;
        margin-right: 1.5625%;
        transform: translateY(27%)
    }

    #header-main-section-east-part #toolsButton {
        margin-left: 1.5625%;
        margin-right: 1.5625%;
        transform: translateY(34%)
    }

    #header-main-section-east-part #userDiv {
        border: none;
    }

    #header-main-section-east-part #userDiv #username{
        display: none;
    }
    #header-main-section-east-part #toolsDiv {
        display: none;
        border: none;
    }

    #header-main-section-east-part #notification-center {
        border: none;
    }

    #bannerMenu {
        height: 1.5em;
        width: 1.5em;
        transform: translateY(69%);
    }
    .institutionalBranding {
        margin-left: 1.5625%;
        height: 2.125em;
        width: 9.125em;
        transform: translateY(31%);
    }
    .signIn-mobile {
        display:block;
        height: 2.5em;
        width: 1.875em;
    }
    #signInCanvas {
        display:none;

    }
    #signInCanvas.signIn-active {
        display: block;
        right: 0;
        top: 44px;
        width: 100%;
        left: auto;
        position: absolute;
        z-index: 1000;
        padding: 0px;
        margin: 0px;
    }
    #signInCanvas.signIn-active ul {
        list-style:none;
        white-space:nowrap;
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    #signInCanvas.signIn-active li {
        display:block;
        vertical-align: top;
    }

    #signInCanvas.signIn-active ul,#signInCanvas.signIn-active ul li {
        margin : 1px !important;
        width: 100%;
    }

    #signInMenu {
        background: none repeat scroll 0 0 #ffffff;
    }
    .signInMenuShadow {
        border: 5px #13689E solid;
    }
    #signInCanvas.signIn-active .sign-item {
        cursor: pointer;
        font: 14pt Open Sans;
        padding-right: 13px;
        padding-left: 30px;
        line-height: 30px;
        color: #41566f;
        border-bottom: 1px solid #DEE5E7;
    }
    .signInText {
        color: #41566f;
    }
    #tools {
        height: 2.5em;
        width: 2.5em;
    }

}

/*Tablet device*/

@media only screen
and (min-device-width: 769px)
and (max-device-width: 1023px) {
    #bannerMenu {
        height: 0.875em;
        width: 0.875em;
        transform: translateY(69%);
    }
    .institutionalBranding {
        margin-left: 0.9765625%;
        height: 2.125em;
        width: 9.25em;
        transform: translateY(31%);
    }

    #header-main-section {
        height: 6.510416666666667%;
        display: inline-block;
    }


    #header-main-section-east-part #userDiv #username{
        font: 10px Open Sans;
    }

    #header-main-section-west-part{
        width:71.2890625%;
    }

    #header-main-section-east-part{
        width:100%;
        border: none;
        float:right;
    }

    #header-main-section-east-part #signInDiv, #header-main-section-east-part #signInButton {
        margin-left: 1.5625%;
        margin-right: 1.5625%;
        transform: translateY(27%)
    }

    #header-main-section-east-part #toolsButton {
        margin-left: 1.5625%;
        margin-right: 1.5625%;
        transform: translateY(34%)
    }

    #header-main-section-east-part #userDiv {
        padding-left: 20px;
        padding-right: 10px;
        border: none;
    }

    #header-main-section-east-part #userDiv #username{
        display: none;
    }
    #header-main-section-east-part #toolsDiv {
        display: none;
        border: none;
    }

    #header-main-section-east-part #notification-center {
        border: none;
    }

    #bannerMenu {
        height: 1.5em;
        width: 1.5em;
        transform: translateY(69%);
    }
    .institutionalBranding {
        margin-left: 1.5625%;
        height: 1.125em;
        width: 5.125em;
        transform: translateY(31%);
    }
    .signIn-mobile {
        display:block;
        height: 2.5em;
        width: 1.875em;
    }
    #signInCanvas {
        display:none;

    }
    #signInCanvas.signIn-active {
        display: block;
        right: 0;
        top: 44px;
        width: 100%;
        left: auto;
        position: absolute;
        z-index: 1000;
        padding: 0px;
        margin: 0px;
    }
    #signInCanvas.signIn-active ul {
        list-style:none;
        white-space:nowrap;
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    #signInCanvas.signIn-active li {
        display:block;
        vertical-align: top;
    }

    #signInCanvas.signIn-active ul,#signInCanvas.signIn-active ul li {
        margin : 1px !important;
        width: 100%;
    }

    #signInMenu {
        background: none repeat scroll 0 0 #ffffff;
    }
    .signInMenuShadow {
        border: 5px #13689E solid;
    }
    #signInCanvas.signIn-active .sign-item {
        cursor: pointer;
        font: 14pt Open Sans;
        padding-right: 13px;
        padding-left: 30px;
        line-height: 30px;
        color: #41566f;
        border-bottom: 1px solid #DEE5E7;
    }
    .signInText {
        color: #41566f;
    }
    #tools {
        height: 2.5em;
        width: 2.5em;
    }
}