.navArrowLeft {	
	background:url(images/ssb-nav-arrow-menu-sprites.png) no-repeat -54px 0;	
}	
.navArrowRight {	
	background:url(images/ssb-nav-arrow-menu-sprites.png) no-repeat  -36px 0;	
}	
.navArrowLeftDisabled {	
	background:url(images/ssb-nav-arrow-menu-sprites.png) no-repeat -18px 0;	
}	
.navArrowRightDisabled {	
	background:url(images/ssb-nav-arrow-menu-sprites.png) no-repeat 0px 0px;	
}	
.navArrowLeftSmall {	
	background:url(images/ssb-nav-arrow-sprites.png) no-repeat 0px -48px;	
}	
.navArrowRightSmall {	
	background:url(images/ssb-nav-arrow-sprites.png) no-repeat  0px -32px;	
}	
.navArrowLeftSmallDisabled {	
	background:url(images/ssb-nav-arrow-sprites.png) no-repeat 0px -16px;	
}	
.navArrowRightSmallDisabled {	
	background:url(images/ssb-nav-arrow-sprites.png) no-repeat 0px 0px;	
}	
.selectedListItem span {	
	background: #7FADCA url(images/bp-arrow-right-selected.png) no-repeat -38px 10px;
}	
.navList .parent span:hover {	
	background:#E1EFFD url(images/bp-arrow-right-blue.png) no-repeat -38px 10px;
}	
.parent {	
    background:transparent url(images/arrow-right-gray.png) no-repeat -38px 10px;
}	
.navListStart .parent span:hover {	
    background:#999 url(images/bp-arrow-right-selected.png) no-repeat -38px .6em;	
}	
.navListStart .parent {	
    background:transparent url(images/arrow-right-gray.png) no-repeat -38px .6em;	
}	
.signOutText, .signInText {
	background: url(images/icon-lock.png) no-repeat scroll 38px center;	
}	
.helpText {	
	background:transparent url(images/icon-help.png) no-repeat scroll 36px center	
}
#globalNav li a.preferenceText {
	background:url("images/gear_icon.png") no-repeat 43px center;
}
.htmlButtonLevel2-3 h3 {	
	background:url(images/level-2-nav-arrow-down.png) no-repeat 10px center;	
}	
.htmlButtonLevel2-3.selected h3 {	
	background:url(images/level-2-nav-arrow-up.png) no-repeat 10px center;	
}	
.items h3 {	
	background:url(images/square-bullet-6x6-blue.png) no-repeat right 10px;	
}	
#footerLinks li {	
	background:url(images/square-bullet-6x6-blue.png) no-repeat left center;	
}	
.btn-l {	
    background:#646464 url(images/bp-horiz-nav-btns.png) no-repeat -18px center;	
}	
.btn-r {	
    background:#646464 url(images/bp-horiz-nav-btns.png) no-repeat -1px center;	
}	
.backurl a {	
	background: url(images/backlink_sprites.png) no-repeat -2px -23px;	
}	
.backurl a:hover {	
	background: url(images/backlink_sprites.png) no-repeat -21px -23px;	
}	
.ac_loading {	
	background: white url('images/indicator.gif') left center no-repeat;	
}
.headerButtonDownArrow:link, .headerButtonDownArrow:active, .headerButtonDownArrow:visited {
    background: url("images/crumbarrow_down.png") no-repeat scroll left 10px transparent;
}

.headerButton .upArrow:link, .upArrow:active, .upArrow:visited {
    background: url("images/callout_arrow.png") no-repeat scroll left 8px transparent;
}

.signOutText, .signInText {
    background: url("images/icon-lock.png") no-repeat scroll right center transparent;
    margin-left: 8px;
    margin-right: 4px;
}

#globalNav .globalnav-list-item:first-child {
    margin-left: 4px;
}

#globalNav .globalnav-list-item {
    padding: 2px 4px 0 0;
}

.navList .parent:focus span {
    background: url("images/bp-arrow-right-blue.png") no-repeat scroll -38px 10px #E1EFFD;
}

.breadcrumb {
    padding-right: 0;
}

#browseButtonState {
    right: 81px;
}

#menuArrow{
    background:url("images/header-composite-button-sprites-rtl.png") no-repeat scroll right 0px transparent !important;
}

#menuArrow:hover {
    background: transparent url("images/header-composite-button-sprites-rtl.png") no-repeat scroll 100% -48px !important;
}

#browseButton {
    left: 79px;
}

#globalNav {
    font-size:1.2em;
}

#globalNav .globalnav-list-item {
	padding:0px 5px 0px 0px;
}

/** Added **/
#globalNav li a {
	padding-left: 0;
	padding-right: 16px;
}

#openedItemsButtonState, #toolsButtonState {
	float: left;
}

/*#toolsContainer {
	right: auto;
}*/

#browseButtonState {
    right: 4px;
}

#browseButton {
    left: auto;
    right: 25px;
}

#breadcrumb {
    margin-left : 8px;
}

.columns {
    margin-right: -1px;
}

.breadcrumb div div .breadCrumbItemArrow  {
    transform: scaleX(-1);         /* CSS 3 */
    -ms-transform: scaleX(-1);     /* Internet Explorer */
    -moz-transform: scaleX(-1);    /* Firefox */
    -webkit-transform: scaleX(-1); /* Safari and Chrome */
    -o-transform: scaleX(-1);      /* Opera */
}

.breadcrumb div div .breadCrumbItemArrow.breadCrumbSelectedRight  {
    background:url("images/breadcrumb-selected-right.png") no-repeat scroll 0 1px transparent;
    width:6px;
}

.breadcrumb div div .breadCrumbItemArrow.breadCrumbSelectedLeft  {
    background:url("images/breadcrumb-selected-left.png") no-repeat scroll 0 1px transparent;
    width:3px;
}